.nav-item .active {
  color: white;
  background-color: #098b09 !important;
}

.custom-tab-heading {
  background-color: hsl(138, 91%, 22%); /* Cor vermelha para o texto do heading */
}

.routerActive {
  color:white;
  background-color: #b60f55 !important;
}
